tr:hover {
  background-color: 'blue';
}

body {
  padding-top: 70px;
  word-wrap: break-word;
}

.col-md-2, .col-sm-3 {
  position: fixed;
  min-height: 0px;
  padding-right: 20px;
  padding-left: 20px;
}

#login-name {
  color: #cddc39;
}